/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');
*/

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0px; padding: 0px; border: 0px;
}
html { height: 100%; }
body {
  width: 100%;
  color: black;
}

.show   { display: block !important; }
.hidden { display: none  !important; }

.full-width { width: 100% !important; }
.full-height { height: 100% !important; }

.nomargin,
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0px !important; }
.no-margin-bottom { margin-bottom: 0px !important; }
.nopadding,
.no-padding { padding: 0 !important; }
.no-padding-bottom { padding-bottom: 0px !important; }

.align-top { vertical-align: top !important; }

.width-95 { width: 95%; }
.width-90 { width: 90%; }
.width-85 { width: 85%; }
.width-80 { width: 80%; }
.width-75 { width: 75%; }
.width-70 { width: 70%; }
.width-65 { width: 65%; }
.width-60 { width: 60%; }
.width-55 { width: 55%; }
.width-50 { width: 50%; }
.width-45 { width: 45%; }
.width-40 { width: 40%; }
.width-35 { width: 35%; }
.width-30 { width: 30%; }
.width-25 { width: 25%; }
.width-20 { width: 20%; }
.width-15 { width: 15%; }

.max-width-225 { max-width: 225px; }

.text-center.
.centered { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.text-larger { font-size: 1.2em; }
.text-smaller,
.text-sm { font-size: 0.9em !important; line-height: 1.25em !important; }
.text-xs { font-size: 0.7em !important; line-height: 1.25em !important; }

.white { color: white !important; }
.black { color: black !important; }

.content-space, .content-space-2x, .content-space-3x, .content-space-4x, .content-space-sm, .content-space-xs { width: 100%; }
.content-space { height: 15px; }
.content-space-xs { height: 5px; }
.content-space-sm { height: 8px; }
.content-space-2x { height: 30px; }
.content-space-3x { height: 45px; }
.content-space-4x { height: 60px; }
.content-line { width: 100%; height: 1px; }

.shared-js {}

/* STOP BROWSED BACKGROUND ON AUTOFILL */

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill; animation-name: autofill;
  -webkit-animation-fill-mode: both; animation-fill-mode: both;
}


/** BREAKPOINTS FOR SHARED ITEMS **/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
